name: React CD - Development

on:
  push:
    branches:
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: dev
    secrets:
      VITE_API_BASE_URL: ${{ secrets.DEV_VITE_API_BASE_URL }}
      VITE_CLIENT_BASE_URL: ${{ secrets.DEV_VITE_CLIENT_BASE_URL }}
      S3_BUCKET_NAME: ${{ secrets.DEV_S3_BUCKET_NAME }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.DEV_CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
