name: React CD - Production

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      environment: prod
    secrets:
      VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}
      VITE_CLIENT_BASE_URL: ${{ secrets.VITE_CLIENT_BASE_URL }}
      VITE_S3_BUCKET: ${{ secrets.VITE_S3_BUCKET }}
      S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
